[
    name: 'Btz Studio'
    apiKey: '<your api key>'
    scripts:
        'marmiton.js': 'build/facade.js'
        'lib-recipe-supplier.js': 'build/lib-recipe-supplier.js'
        'lib-common.js': 'build/lib-common.js'
]
